@media (min-width: 800px) {
  body {
    height: 100vh;
  }

  .div_header {
    width: 100%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    z-index: 1;
    height: 80px;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    padding: 0 40px;
    height: 100%;
    max-width: 1140px;
    box-shadow: none;
    padding: 0;
  }

  .button-nav-open {
    display: none;
  }

  .logo {
    height: 20px;
  }

  .nav {
    position: static;
    width: 300px;
    display: flex;
    box-shadow: none;
    background-color: none;
    height: 50px;
  }

  main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    background-color: var(--white);
    box-shadow: none;
  }

  .div_img_principal {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-right: 20px;
  }

  .img-init {
    display: block;
    width: 550px;
    height: 700px;
    margin: 50px;
  }

  .div_ul_setores {
    width: 50%;
  }

  .select {
    width: 550px;
    height: 50px;
  }

  .div_ul_setores {
    height: 100%;
    margin: 60px 0 0 20px;
  }

  ul {
    min-height: 300px;
    height: 650px;
    width: 550px;
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
    margin-top: 0;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  }

  li {
    width: 490px;
    height: 130px;
    min-height: 130px;
    margin-top: 20px;
    padding-left: 30px;
  }
  .setor_compania {
    height: 30px;
    width: 90px;
    padding-top: 5px;
  }
}
